<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="vendor/autoload.php"
>
  <testsuites>
    <testsuite name="Afas Core">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/coverage" title="Afas Core" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="90"/>
  </logging>
</phpunit>
